In [1]:
# 1. Create a function that takes a number as an argument and returns True or False depending
#    on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

def is_symmetrical(n):
     return str(n) == str(n)[::-1]

In [3]:
is_symmetrical(7227),is_symmetrical(12567),is_symmetrical(44444444)

(True, False, True)

In [73]:
# 2. Given a string of numbers separated by a comma and space, return the product of the numbers.
import re
def multiply_nums(a):
    mlt = 1
    result = [int(d) for d in re.findall(r'-?\d+', a)]
    for i in result:
        mlt = mlt * i      
    return mlt

In [74]:
multiply_nums("2, 3"), multiply_nums("1, 2, 3, 4"), multiply_nums("54, 75, 453,0"), multiply_nums("10, -2")

(6, 24, 0, -20)

In [112]:
# 3.Create a function that squares every digit of a number.
def square_digits(x):
    y = list(str(x))
    for i in y:
        print(int(i)**2, end = "")

In [110]:
type(square_digits(9119))

list

In [102]:
square_digits(3212)

9414

In [128]:
square_digits(2483)

416649

In [ ]:
# 4.  Create a function that sorts a list and removes all duplicate items from it.

In [170]:
def setify(lst):
    dup_items = set()
    uniq_items = []
    for x in lst:
        if x not in dup_items:
            uniq_items.append(x)
            dup_items.add(x)
    print(sorted(uniq_items))

In [171]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [172]:
setify([4, 4, 4, 4])

[4]

In [173]:
setify([5, 7, 8, 9, 10, 15,1])

[1, 5, 7, 8, 9, 10, 15]

In [147]:
# 5. Create a function that returns the mean of all digits.
def mean(x):
    x = str(x)
    sum = 0
    for char in list(x):
        sum += int(char)
    y = sum / len(list(str(x)))
    return int(y)

In [150]:
mean(12345), mean(666), mean(12345)

(3, 6, 3)